# mac cruft
.DS_Store

#emacs cruft
*~
*#*
*flymake.py
.ropeproject

# vim cruft
*.swp

# wing cruft
*.wpr

#buildout/virtualenv cruft
bin
lib
src
include
parts
develop-eggs
.installed.cfg
.mr.developer.cfg

#python cruft
*.egg
*.egg-info
.noseids
*prof*
pip-log.txt
*.pyc
dist
pyvenv.cfg

# test cruft
*_test
.coverage
coverage.xml
# SQLite test db
testdb

# Sphinx cruft
_build

# backup cruft
*.old
*.orig

# Misc cruft
*.log
*.pid
